.project-card {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  background-color: #292929;
  border-radius: 0.25rem;
  box-shadow: none;

  &:hover {
    background-color: $card-hover-color;
  }
}

.project-card-content {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  padding-bottom: 0.7rem;
  letter-spacing: 0.1rem;
}
.subtitle {
  text-align: justify;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  font-size: 1rem !important;
}

@media (max-width: 586px) {
  .project-card {
    width: 100%;
    margin: auto;
    margin-top: 1.5rem;
    background-color: #292929;
    border-radius: 0.25rem;
    box-shadow: none;
  }
  .project-card-content {
    padding: 0.8rem;
  }
  h1.title {
    margin-bottom: 1rem !important;
    padding-bottom: 0px;
  }
  h4.title {
    margin-top: 0rem !important;
    margin-bottom: 0.7rem !important;
    letter-spacing: 0.1rem;
  }
  .subtitle {
    text-align: justify;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem !important;
    // padding: 0.5rem;
    font-size: 1rem !important;
  }
  s hr {
    margin: 0.7rem auto !important;
    width: 60px;
  }
}
