.project-card {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  background-color: #292929;
  border-radius: 0.25rem;
  // max-height: 450px;
  box-shadow: none;

  &:hover {
    background-color: $card-hover-color;
  }
}

.project-card-content {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image {
  padding: 1rem;
  flex: 1;
}
.title {
  padding-bottom: 0.7rem;
}
.subtitle {
  text-align: justify;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  font-size: 1rem !important;
}

// @media (max-width: 586px) {
//   .media {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//   }
// }
