.photo {
  margin: 48px auto 24px;
}

span {
  &.emoji {
    font-weight: $weight-normal;
  }
}
.main-section {
  padding-top: 10px !important;
}
#greetingNabout {
  width: 75%;
  margin: auto;
  h4#greetings-msg {
    margin-top: 1rem !important;
    margin-bottom: 0rem !important;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

@media (max-width: 768px) {
  #greetingNabout {
    width: 100%;
  }
}
